<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><ion-img src="assets/logo.png" alt="Logo de EmPoderTIC" ></ion-img></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <ion-card>
    <div class="contenedor-login">
      <div class="contenedor-form">
        <h1 class="titulo">¡Bienvenido a EmPoderTIC</h1>
        <p class="description">Donde tu Reconocimiento Comienza</p>
    <ion-item lines="full">
      <ion-input [(ngModel)]="correo" type="text"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="iniciarSesion()" expand="block">Iniciar Sesion</ion-button>
      </ion-col>
    </ion-row>
      </div>
    </div>
  </ion-card>

</ion-content>