<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-img src="assets/logo.png" alt="Logo de EmPoderTIC" class="imag"></ion-img></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()" class="cerrar">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="blu">
    <ion-card class="blu2">
      <ion-card class="blu">
        <h4></h4>
        <ion-card-header>
          <ion-card-title></ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          -----------------------------
          <br>
          
        </ion-card-content>
      </ion-card>
    </ion-card>
    <div>
      <ion-card class="blu3">
        <ion-card-header>
          <img alt="">
          <ion-card-title style="text-align: center;"></ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
      <ion-card>

          <ion-card-header>
            <ion-card-title class="ion-card-tittle">Historial de Participación</ion-card-title>
          </ion-card-header>
          <ion-item button detail="true" detail-icon="caret-forward-outline" class="blu3">
            <ion-label>
              <h3></h3>
              <p></p>
            </ion-label>
          </ion-item>
          <ion-item button detail="true" detail-icon="caret-forward-outline">
            <ion-label>
              <h3></h3>
              <p></p>
            </ion-label>
          </ion-item>
        </ion-card>
  </ion-card>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add" class="fabi"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="evento()">
        <ion-icon name="calendar" class="fabi"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
