<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-img src="assets/logo.png" alt="Logo de EmPoderTIC" class="imag"></ion-img></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()" class="cerrar">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="blu">
    <ion-card class="blu2">
      <ion-card class="blu">
        <h4>Estudiante y/o Titulado</h4>
        <ion-card-header>
          <ion-card-title style="color: black;"> Tabita Melo </ion-card-title>
          <ion-card-subtitle> 20928183-k </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Informática y telecomunicaciones
          Ingeniería Informática
          <br>
          -----------------------------
          <br>
          Duoc UC, San Andrés Concepción
        </ion-card-content>
      </ion-card>
    </ion-card>
    <div *ngFor="let insignia of insigniasUsuario">
      <ion-card class="blu3">
        <ion-card-header>
          <img [src]="insignia.imagen" alt="insignia">
          <ion-card-title style="text-align: center;">{{insignia.nombre}}</ion-card-title>
        </ion-card-header>
        <ion-card-content style="color: black;">
          {{insignia.descripcion}}
        </ion-card-content>
      </ion-card>
    </div>
          <ion-card-header>
            <ion-card-title class="ion-card-tittle" style="text-align: center;">Historial de Participación</ion-card-title>
          </ion-card-header>
          <ion-card class="blu3 blu4" *ngFor="let evento of historialParticipacion">
            <ion-card-subtitle style="text-align: center; margin-top: 5%;">{{evento.nombre}}</ion-card-subtitle>
            <ion-card-content class="blu4 blu3">
              <p style="text-align: center;" class="blu4">Fecha: {{evento.fecha_evento}}</p>
            </ion-card-content>
          </ion-card>
  </ion-card>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add" class="fabi"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="evento()">
        <ion-icon name="calendar" class="fabi"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
