.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  height: 100vh; /* Altura de la pantalla completa */
  margin-right: 10%;
  width: 100%;
  background: radial-gradient(circle at 0% 0%, #11468d, #8d2ba8, #500096, #6d39c2);
}

ion-button {
  width: 60%; /* Ancho del botón */
  margin-left: 13%;
}