<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reconocimiento | EmPoderTIC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
<!-- CARD 1 AREA LIDERAZGO -->
  <ion-card-title>
    Area de Participación en Talleres y eventos de Liderazgo Femenino
  </ion-card-title>
  <ion-card>
  
    <!-- Mostrar detalles de la medalla seleccionada -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>title</ion-card-title>
      </ion-card-header>
      <img alt="medalla" class="card-image" />
      <ion-card-content>
        description 
      </ion-card-content>
    </ion-card>
  </ion-card>
  <!-- FIN CARD 1 AREA LIDERAZGO -->


  <!-- CARD 2 -->

  <!-- FIN CARD 2 -->
</ion-content>